@import "tailwindcss";

:root {
  --bg: #181825;
  --bg-elevated: #1e1e2e;
  --fg: #cdd6f4;
  --muted: #a6adc8;
  --muted2: #bac2de;
  --border: #313244;
  --accent: #fab387;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .float-slow {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-6px);
    }
  }
}

@layer utilities {
  .text-accent {
    color: var(--accent);
  }
  .border-accent {
    border-color: var(--accent);
  }
  .text-muted {
    color: var(--muted);
  }
}
